body{
    padding: 10px;
    margin: 10px;
}

header{
    background-color: #adff2f;
    background-image: url("images/flywheel.jpg");
    padding: 100px;
}

nav>a{
    border-radius: 10px;
    text-decoration: none;
    color: green;
    border: 2px
}

.active{
    color: ivory;
    background-color: #191970;
}

.left{
  width:300px;
  float: left;
  
  background-color:#808000;
  
}
img{
    margin-left:50px;
  margin-top:20px;
    border: 1px solid black;
  width: 200px;
  

  

}
